.activeClock, .activeStopWatch{
  background-color: gainsboro;
  font-size: 15px;
  padding: 12px 30px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 500
}
.activeStopWatch{
  padding: 12px 20px;
}
.activeClock> button, .activeStopWatch> button{
  background-color: gainsboro;
  border: none;
}